header {
  padding: 1rem 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;

    img {
      width: 90px;
    }
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    a {
      text-decoration: none;
      color: whitesmoke;
      cursor: pointer;
    }
  }
}

.img-wrap {
  position: relative;

  img {
    width: 175px;
    cursor: pointer;
  }
}

.img-normal {
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0;
  }
}

.img-hover {
  position: absolute;
  opacity: 0;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.dNone {
  display: none;
}

@media (max-width: 980px) {
  .img-wrap {
    img {
      width: 150px;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .img-wrap {
    img {
      width: 125px;
      cursor: pointer;
    }
  }
}

@media (max-width: 680px) {
}
