header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 1em 5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #1c1c1c, #08463b);

  nav {
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 1.5rem;

    img {
      width: 90px;
    }

    a {
      text-decoration: none;
      color: whitesmoke;
      cursor: pointer;
    }
  }

  .img-wrap {
    position: relative;

    img {
      width: 175px;
      cursor: pointer;
    }

    .img-normal {
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    .img-hover {
      position: absolute;
      opacity: 0;
      top: 0%;
      left: 0%;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover .img-normal {
      opacity: 0;
    }

    &:hover .img-hover {
      opacity: 1;
    }
  }
}
