.section-wrapper-skills {
  min-height: 1000px;
  background-color: #1c1c1c;

  .headline-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    h1 {
      color: whitesmoke;
      margin: 2em 0 0.5em 6em;
    }
  }

  .skill-set-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .skill-set-container {
      height: 612px;
      width: 575px;
      background-color: whitesmoke;
      margin-left: 12em;
    }

    .skill-set-icon-container {
      height: 612px;
      width: 711px;
      background-color: whitesmoke;
      margin-right: 11em;
    }
  }
}
