.section-wrapper-skills {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  gap: 2rem;
  min-height: 65vh;
  padding: 0 2rem 0 6rem;
}

h1 {
  display: flex;
  align-items: center;
  max-width: 550px;
  width: 100%;
  color: whitesmoke;
  margin-bottom: 1rem;
}

.skill-set-text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  // align-items: end;
}

.skill-set-text-container {
  height: fit-content;
  max-width: 550px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  padding: 2rem 2.5rem;
}

h2 {
  padding-bottom: 1.5rem;
  color: whitesmoke;
  font-size: 4rem;
}

p {
  color: whitesmoke;
  text-wrap: wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 1.5rem;
}

.skill-set-icon-wrapper {
  flex: 1;
}

.skill-set-icon-container {
  height: fit-content;
  width: 100%;
  // background-color: black;
  margin-top: 3.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 4rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: calc(25% - 1.5rem);

  img {
    max-width: 60px;
  }

  p {
    text-align: center;
    font-size: 1.125rem;
  }
}

@media (max-width: 980px) {
  .section-wrapper-skills {
    min-height: 80vh;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0;
  }

  .skill-set-text-wrapper {
    max-width: 612px;
    width: 100%;
    flex: none;

    h1 {
      max-width: none;
    }
  }

  .skill-set-text-container {
    max-width: 612px;
    width: 100%;
  }

  .skill-set-icon-wrapper {
    max-width: 612px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-wrapper-skills {
    // min-height: 65vh;
    padding: 5rem 5rem 0;
  }

  p {
    font-size: 2rem;
  }
}
