* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #1c1c1c, #08463b);
  overflow-x: hidden;
}
