* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
  font-size: 16px;
}

@media (max-width: 980px) {
  html,
  body {
    font-size: 14px;
  }
}
