.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #161414, #08463b);
  padding-top: 10em;

  h1 {
    order: 2;
    font-size: 8rem;
    color: whitesmoke;
  }

  h2 {
    order: 1;
    font-size: 3rem;
    color: whitesmoke;
  }

  .btn-container {
    order: 3;
    display: flex;
    gap: 3.5em;
    margin-top: 2.5em;

    span {
      font-size: 1.5rem;
      padding: 0.5em 1em;
      color: whitesmoke;
      border: 2px solid whitesmoke;
      border-radius: 25px;
    }
  }
}
