.section-wrapper {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1c1c1c;

  .portrait-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .portrait-bg {
      position: absolute;
      height: 400px;
      width: 400px;
      background: url("/assets/images/portrait-bg.svg") no-repeat center/cover;
      z-index: 1;
      top: 10%;
      left: 15%;
      border-radius: 35px;
    }

    .portrait-container {
      border-radius: 35px;
      background-color: white;
      position: relative;
      height: 400px;
      width: 400px;
      z-index: 2;
      top: -22%;
      left: 10%;
    }
  }

  .about-wrapper {
    height: 100%;
    width: 50%;
    // background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about-me-container {
      border-radius: 35px;
      background-color: white;
      position: relative;
      height: 400px;
      width: 400px;
      top: -22%;
      left: 10%;
    }

    span {
      color: whitesmoke;
      background-color: aqua;
      z-index: 3;
    }
  }
}
