.section-wrapper-about {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 80vh;
  padding: 0 2rem 0 6rem;
}

.portrait-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: start;
}

.portrait-container {
  position: relative;
  width: 100%;
  display: flex;
  // justify-content: end;
  margin-bottom: 10rem;
  overflow: hidden;
}

.img-layer-top {
  max-height: 600px;
  max-width: 550px;
  width: 100%;
  border-radius: 25px;
}

.about-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  // justify-content: end;
  align-items: end;
  max-height: 600px;
  height: 100%;
}

h1 {
  display: flex;
  align-items: center;
  max-width: 550px;
  width: 100%;
  color: whitesmoke;
  margin-bottom: 1rem;
}

.about-me-container {
  height: fit-content;
  max-width: 550px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  padding: 2rem 2.5rem;
}

h2 {
  padding-bottom: 1.5rem;
  color: whitesmoke;
  font-size: 4rem;
}

p {
  color: whitesmoke;
  text-wrap: wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 1.5rem;
}

@media (max-width: 980px) {
  .section-wrapper-about {
    flex-direction: column;
    max-height: fit-content;
    padding: 5rem 0 0 0;
    position: relative;
  }

  .portrait-container {
    margin-bottom: 5rem;
    align-items: center;
  }

  .img-layer-top {
    max-width: 612px;
    margin-top: 5rem;
    object-fit: contain;
  }

  .about-wrapper {
    max-width: 612px;
    width: 100%;
    margin-bottom: 8rem;
  }

  h1 {
    max-width: 612px;
    width: 100%;
  }

  .about-me-container {
    max-width: 612px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-wrapper-about {
    padding: 5rem 5rem 0;
  }

  p {
    font-size: 2rem;
  }
}
