<section class="section-wrapper-about">
  <div class="portrait-wrapper">
    <div class="portrait-container">
      <!-- <img
        class="img-layer-bottom"
        src="assets/images/portrait-bg.svg"
        alt=""
      /> -->
      <img
        class="img-layer-top"
        src="assets/images/profile-picture.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="about-wrapper">
    <h1>Who I Am</h1>
    <div class="about-me-container">
      <h2>About me</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
        assumenda dolorem, reprehenderit aliquid doloremque delectus iure ut
        vitae sed voluptatem fugit accusamus quo qui minima incidunt voluptates
        pariatur error labore! Pariatur, id maiores! Minus corporis magnam nemo
        fugit reiciendis sunt rem, tenetur ullam inventore repellendus nulla,
        quae illum quaerat nesciunt animi eum dolores corrupti architecto
        mollitia sequi laborum quod. In. Dolorem assumenda in.
      </p>
    </div>
  </div>
</section>
