.section-wrapper-about {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  max-height: 1000px;
  height: 100%;
  padding: 0 2em;

  .portrait-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: start;

    .portrait-container {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10em;

      .img-layer-top {
        max-height: 600px;
        height: 100%;
        max-width: 550px;
        width: 100%;
        border-radius: 35px;
      }
    }
  }

  .about-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-height: 600px;
    height: 100%;

    h1 {
      display: flex;
      align-items: center;
      height: 10%;
      max-width: 550px;
      width: 100%;
      color: whitesmoke;
    }

    .about-me-container {
      height: 90%;
      max-width: 550px;
      width: 100%;
      background-color: black;
      border-radius: 50px;

      h2 {
        padding: 0.5em 0 0 0.5em;
        color: whitesmoke;
        font-size: 4rem;
      }

      p {
        color: whitesmoke;
        text-wrap: wrap;
        overflow-wrap: break-word;
        word-break: break-word;
        padding: 1em 2em 0.5em 2em;
      }
    }
  }
}
