.section-wrapper-about {
  height: 1000px;
  background-color: black;
  display: flex;

  .portrait-wrapper,
  .about-wrapper {
    background-color: #1c1c1c;
    flex: 1;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    h1 {
      color: #3dcfb6;
      margin: 0 0 1em 0;
      padding: 0;
      width: 100%;
      max-width: 599px;
      text-align: start;
    }

    .about-me-container {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      max-height: 612px;
      max-width: 599px;
      background-color: whitesmoke;
      margin-bottom: 5em;

      h2 {
        text-align: start;
        width: 100%;
        padding: 2em;
      }
    }
  }

  .portrait-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;

    img {
      max-height: 612px;
      max-width: 599px;
      height: 100%;
      width: 100%;
    }
  }
}
