<div class="page-bg">
  <app-header></app-header>
  <section class="title-container">
    <h1>Kevin Stäbler</h1>
    <h2>Frontend Developer</h2>
    <div class="btn-container">
      <span>Check my work</span>
      <span>Contact me</span>
    </div>
    <div class="cross-layer-container">
      <span>
        @for (text of repeatedBannerTexts; track $index) {
          {{ text }}
          <img src="assets/icons/radio-button.svg" alt="•" />
        }
      </span>
    </div>
  </section>
</div>
