.section-wrapper-projects {
  background-color: #1c1c1c;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  gap: 2rem;
  min-height: 80vh;
  width: 100%;
  padding: 0 0 0 6rem;
}

.headline-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;

  h1 {
    order: 2;
  }

  h2 {
    order: 1;
  }

  p {
    order: 3;
  }
}

.portfolio-wrapper {
  width: 100%;
  display: flex;
  // gap: 2rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-height: 300px;
  height: 100%;
  background-color: aqua;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  border-top: 2px solid black;
  height: 100px;
}

.languages {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.project-image-container {
  height: 300px;
  flex: 1;
  background-color: black;
}

@media (max-width: 980px) {
  .section-wrapper-projects {
    justify-items: center;
    padding: 5rem 5rem 0;
  }

  .headline-wrapper {
    // padding-right: 9.5rem;
    max-width: 612px;
    width: 100%;
  }

  .portfolio-wrapper {
    // max-width: 612px;
    // width: 100%;
    max-width: 612px;
    width: 100%;
  }

  .project-image-container {
    flex: 0;
  }
}

@media (max-width: 768px) {
  .headline-wrapper {
  }
}
