.section-wrapper-projects {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  gap: 2rem;
  min-height: 80vh;
  width: 100%;
  padding: 0 2rem 0 9.5rem;
}

.headline-wrapper {
  // width: 50%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;

  h1 {
    order: 2;
  }

  h2 {
    order: 1;
  }

  p {
    order: 3;
  }
}

.portfolio-wrapper {
  width: 100%;
  display: flex;
  // gap: 5rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 300px;
  background-color: aqua;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  border-top: 2px solid black;
}

.languages {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.project-preview-container {
  //
  background-color: rgb(21, 38, 118);
  display: flex;
  flex: 1;
}
