<section class="section-wrapper-projects">
  <header class="headline-wrapper">
    <h1>Featured Projects</h1>
    <h2>Portfolio</h2>
    <p>
      Explore a selection of my work here - Interact with <br />
      projects to see my skills in action.
    </p>
  </header>
  <div class="portfolio-wrapper">
    <section class="project-container">
      @for (project of projects; track project.name) {
        <article class="project">
          <h3>{{ project.name }}</h3>
          <div class="languages">
            @for (skill of project.skills; track $index) {
              <p>{{ skill }}</p>
              @if ($index < project.skills.length - 1) {
                <span>|</span>
              }
            }
          </div>
          <div class="project-image-container">
            <div class="preview-container"></div>
          </div>
        </article>
      }
    </section>
  </div>
</section>
