<section class="section-wrapper-projects">
  <div class="headline-wrapper">
    <h1>Featured Projects</h1>
    <h2>Portfolio</h2>
    <p>
      Explore a selection of my work here - Interact with <br />
      projects to see my skills in action.
    </p>
  </div>
  <div class="portfolio-wrapper">
    <div class="project-container">
      <div class="project">
        <h1>Join</h1>
        <div class="languages">
          <p>HTML</p>
          <span>|</span>
          <p>CSS</p>
          <span>|</span>
          <p>JavaScript</p>
          <span></span>
        </div>
      </div>
      <div class="project">
        <h1>El Pollo Loco</h1>
        <div class="languages">
          <p>HTML</p>
          <span>|</span>
          <p>CSS</p>
          <span>|</span>
          <p>JavaScript</p>
          <span></span>
        </div>
      </div>
      <div class="project">
        <h1>Join</h1>
        <div class="languages">
          <p>HTML</p>
          <span>|</span>
          <p>CSS</p>
          <span>|</span>
          <p>JavaScript</p>
          <span></span>
        </div>
      </div>
    </div>
    <div class="project-image-container">
      <div class="preview-container"></div>
    </div>
  </div>
</section>
