<section class="section-wrapper-projects">
  <div class="headline-wrapper">
    <h1>Featured Projects</h1>
    <h2>Portfolio</h2>
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action
    </p>
  </div>
  <div class="portfolio-wrapper">
    <div class="project-container">
      <div class="project">
        <p>Join</p>
        <div class="languages">
          <p>HTML</p>
          <p>CSS</p>
          <p>JavaScript</p>
        </div>
      </div>
      <div class="project">
        <p>El Pollo Loco</p>
        <div class="languages">
          <p>HTML</p>
          <p>CSS</p>
          <p>JavaScript</p>
        </div>
      </div>
    </div>
  </div>
</section>
