.section-wrapper-projects {
  background-color: #1c1c1c;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  // grid-template-columns:;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  gap: 2rem;
  min-height: 80vh;
  width: 100%;
  padding: 0 0 0 6rem;
}

.headline-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;

  h1 {
    order: 2;
    font-size: 5rem;
  }

  h2 {
    order: 1;
    font-size: 2rem;
  }

  p {
    order: 3;
    font-size: 1.25rem;
  }
}

// .portfolio-wrapper {
//   // width: 100%;
//   // display: flex;
//   // gap: 2rem;
// }

.project-container {
  // display: flex;
  // flex-direction: column;
  // flex: 2;
  // max-height: 300px;
  // height: 100%;
  // background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  border-top: 2px solid #3dcfb6;
  height: 100px;

  &:last-child {
    border-bottom: 2px solid #3dcfb6;
  }

  &:hover {
    background-color: rgba(61, 207, 182, 0.7);
  }

  h3 {
    font-size: 2rem;
    color: whitesmoke;
  }
}

.languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 1.25rem;
    color: whitesmoke;
    gap: 0.5rem;
  }

  span {
    font-size: 1.5rem;
    font-weight: 900;
    color: #3dcfb6;
  }
}

.project-image-container {
  // height: 300px;
  // flex: 1;
  background-color: whitesmoke;
}

@media (max-width: 980px) {
  .section-wrapper-projects {
    justify-items: center;
    padding: 5rem 5rem 0;
  }

  .headline-wrapper {
    // padding-right: 9.5rem;
    max-width: 612px;
    width: 100%;
  }

  .portfolio-wrapper {
    // max-width: 612px;
    // width: 100%;
    max-width: 612px;
    width: 100%;
  }

  .project-image-container {
    flex: 0;
  }
}

@media (max-width: 768px) {
  .headline-wrapper {
  }
}
